-# PLACEHOLDER CODE FOR RELATED PRODUCTS
%h3 Related Products
.row
  .span1
    %ul.media-grid
      %li
        %a{:href=>'#'}
          %img{:src=>'http://placehold.it/30x30'}
  .span2
    %a{:href=>'#'} Thing One!
-# these are just repetitions, the above code should just be in a loop
.row
  .span1
    %ul.media-grid
      %li
        %a{:href=>'#'}
          %img{:src=>'http://placehold.it/30x30'}
  .span2
    %a{:href=>'#'} Thing Two!
.row
  .span1
    %ul.media-grid
      %li
        %a{:href=>'#'}
          %img{:src=>'http://placehold.it/30x30'}
  .span2
    %a{:href=>'#'} Thing Three!
