-product=wishlist_item.product
.row.moveDown
  .span2
    =image_tag product.thumbnail_url, :width=>80
  .span8
    %h4=link_to product.name, product_path(wishlist_item.product_id)
    .row
      .span2 Price: #{product.price}
      .span3 added #{time_ago_in_words(wishlist_item.created_at)} ago
      .span3=link_to 'remove from list', wishlist_item, :confirm => 'Are you sure?', :method => :delete, :class=>'btn danger'
