// top padding for body to keep the top bar from covering stuff up
.topbar {
	position:static;
	  li.logo{
	    padding:0;
	  }
}


a.add, a.remove{
  color:white;
  background-color:#999;
  padding:0px 5px;
  margin:15px 0px;
  border-radius:4px;
}
a.remove{
  background:blue;
}
.pagination a {
    line-height: 30px;
    padding: 0 10px;
}
