// top padding for body to keep the top bar from covering stuff up
// this is temporary and will be refactored for visual cleanliness later
.topbar {
	//position:static;
	  li.logo{
	    padding:0;
	  }
}

body {padding-top:80px;}

a.add, a.remove{
  color:white;
  background-color:#999;
  padding:0px 5px;
  margin:15px 0px;
  border-radius:4px;
}
a.remove{
  background:blue;
}
.pagination a {
    line-height: 30px;
    padding: 0 10px;
}

//PRODUCT LISTING STYLES
.product {
	margin-bottom:16px;
	
	h4 {line-height:1.25;}
	
	.prodImage img {
		padding:5px;
		border: 1px solid #ddd;
    @include border-radius(4px);
    @include box-shadow(0 1px 1px rgba(0,0,0,.075));
    
	}
}

//PRODUCT PAGE STYLES





//FAKE LINK STYLE, FOR LINKS/buttons THAT ONLY WORK WITH JS
.fakeLink {
	color: $linkColor;
	cursor: pointer;
	&:hover {
		color:$linkColorHover;
		text-decoration:underline;
	};
}

//WISHLIST STUFF
.wishLists {
	margin-left:0;
	margin-top:4px;
	list-style: none;
	
	//experimental border stuff
	border: 1px solid #ddd;
  @include border-radius(4px);
  @include box-shadow(0 1px 1px rgba(0,0,0,.075));
	
	li {
		font-size:12px;
		a {
			display: block;
			//padding-left:24px;
			padding: 3px 0px 3px 26px;
			background:image-url("wishlist/notebook.png") 3px 4px no-repeat;
		}
		
		a.addList {background-image: image-url('wishlist/notebook--plus.png');}
		a.remList {background-image: image-url('wishlist/notebook--minus.png');}
	}
}

.moveDown {margin-top:20px;}


//CATEGORY LISTING STYLES
.catNav, .catNav ul {
	//margin-left:12px;
	margin-left:0px;
	list-style: none;
}

.catNav li {
	font-size:18px;
	line-height:24px;
	font-weight:bold;
	
	a {
		display:block;
		padding:3px 12px;
		&:hover {
			background-color: $grayLighter;
		}
	}
	
	li {
		font-size:$basefont;
		line-height:$baseline;
		font-weight:normal;
		a {padding-left:24px;}
		li {
			a {padding-left:36px;}
			li {
				a {padding-left:48px;}
			}
		}
	}
	
}
