%h2 Wishlist
-if user_signed_in?
  -current_user.wishlists.each do |wishlist|
    %li=link_to "#{wishlist.name} ( #{wishlist.wishlist_items.count} )",wishlist_path(wishlist)
-else
  Please sign in to access your wishlist
