%h3 Wishlist: #{@wishlist.name}
= link_to "rename wishlist", edit_wishlist_path(@wishlist)
|
\#{link_to "delete wishlist", @wishlist, :confirm => 'Are you sure?', :method => :delete} 

%p
  -if @wishlist_items.empty?
    This wishlist is currently empty! 
  -else
    =render @wishlist_items
  

