%h3 Wishlist: #{@wishlist.name}
= link_to "rename wishlist", edit_wishlist_path(@wishlist), :class=>'btn small'
|
\#{link_to "delete wishlist", @wishlist, :confirm => 'Are you sure?', :method => :delete, :class=>'btn danger small'} 

-if @wishlist_items.empty?
  .alert-message.warning.moveDown
    %p This wishlist is currently empty! You should add something to it!
-else
  =render @wishlist_items
  

