.row
  .span6
    =render_cell :nav, :leftnav
  .span10.last  
    %h2=@category.nil? ? "All Products" : @category["name"]
    %ul
    -@products.each do |product|
      %li=link_to product["name"],product_path(product['product_id'])


