%h1=@product.name
.row
  .span4
    =image_tag @product.image_url,:width=>210,:class=>'mainImg'

    %ul.media-grid
      %li
        %a{:href=>'#'}
          %img{:src=>'http://placehold.it/90x90'}
      %li
        %a{:href=>'#'}
          %img{:src=>'http://placehold.it/90x90'}
      %li
        %a{:href=>'#'}
          %img{:src=>'http://placehold.it/30x30'}
      %li
        %a{:href=>'#'}
          %img{:src=>'http://placehold.it/30x30'}
      %li
        %a{:href=>'#'}
          %img{:src=>'http://placehold.it/30x30'}
      %li
        %a{:href=>'#'}
          %img{:src=>'http://placehold.it/30x30'}



  .span6
    .row
      .span2
        -if @product.price.nil?  
          %h3 Price not available
        -else
          %h3=@product.pprice
      .span2
        =link_to 'Wishlist It!', '#', :class=>'btn'
      .span2
        =link_to 'Buy it!', '#', :class=>'btn primary'


    %ul.tabs
      %li.active=link_to 'Description', '#desc'
      %li=link_to 'Specs', '#specs'
      %li=link_to 'Reviews', '#reviews'
    .tab-content
      .tab-pane.active#desc
        %p=@product.short_description
        %p=@product.long_description
        
      .tab-pane#specs
        %p Curabitur ut lobortis enim. Fusce accumsan faucibus faucibus. In bibendum ipsum non odio eleifend pulvinar. Mauris eget augue a erat hendrerit sodales. Nullam adipiscing lorem nec est fermentum iaculis. Nulla facilisi. Integer tempus lacus nec ligula lacinia in vestibulum sem fermentum. Aliquam erat enim, malesuada eu pulvinar a, fermentum vel turpis. Sed ultricies odio sit amet enim suscipit quis gravida dolor malesuada. Aenean at odio lectus.
      .tab-pane#reviews
        =form_for @review do |f|
          =f.text_field :title
          =f.text_area :content
          =f.hidden_field :user_id,:value=>current_user.id
          =f.hidden_field :product_id, :value=>@product.id
          =f.submit
        =render @product.reviews
      


