!!!
%html
  %head
    %title Magento
    = stylesheet_link_tag    "bootstrap"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    =render_cell :nav, :topnav
    .container
      .row
        .span3=render_cell :nav, :leftnav
        .span10=yield 
        .span3=render 'wishlists/summary' 
      
    =debug(params) if Rails.env.development?    
    
